
html {
    font-size: 10px;
    background: url('./background.jpg')  center;
    background-size: cover ;
    background-repeat: no-repeat;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    perspective: 800px;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  .keys {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }


/* adding a animated js heading */

.container{
    min-height: 100vh;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 8rem ;
}

.btn {
    margin-top: 9rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    /* transform: translateZ(-50px); */
}

.btn:hover {
    transform: rotateX(-90deg);
    /* transform: rotateX(-90deg) translateZ(-50px) ; */
    /* transform: rotateX(-90deg)  scale(1.2,1.2); */
}

.js-logo {
  /* mix-blend-mode:multiply; */
  height:  70%;
  margin-left: 20px;

}

.side {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 5em;
}

#p1{
  margin-bottom: 0;
}

#p2{
  margin-top: 0;
}

.default-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  /* align-items: center; */
  font-size: 3em;
    border: 10px solid #0E4049;
    background-color: black;
    color:white;
    transform: translateZ(50px);
}

.hover-side {
    border: 10px solid #0E4049;
    background-color: #069;
    color:#EFD81D;
    transform: rotateX(90deg) translateZ(50px);
    /* transform: rotateX(90deg) ; */
}